.menu-item {
  border:2px solid #66CDAA;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.menu-item .submenu {
  width: 120px;
  height: 40px;
  background: green;
  position: absolute;
  cursor: pointer;
}
