#tabs .tab {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
  z-index: 5;
}

.menu-item .submenu {
  width: 120px;
  height: 40px;
  background: green;
  position: absolute;
  cursor: pointer;
}
